<link rel="stylesheet" type="text/css" href="config/config_details/config.css">

<h4>Oblong Configrations</h4>

<% if defined?(success) && !success.nil? %>
  <div class="success"><%= success -%></div>
<% end %>

<table width="50%">
  <% configs.each do |config| %>
    <tr>
      <td>
        <% if config == active %>
          <b><%= config -%></b>
        <% else %>
          <%= config -%>
        <% end %>
      </td>
      <td>
        <form method="POST" action="./configs/activate/<%= config -%>">
          <input type="submit" value="Enable"/>
        </form>
      </td>
      <td>
        <form method="GET" action="./configs/download/<%= config -%>">
          <input type="submit" value="Download"/>
        </form>
      </td>
      <td>
        <form method="POST" action="./configs/delete/<%= config -%>" onsubmit="return confirm('Are you sure you want to delete this config?')">
          <input type="submit" value="Delete"/>
        </form>
      </td>
    </tr>
  <% end %>
</table>

<h5>Save Current Calibration</h5>
<form id="save_current" action="./configs/save_as_active" method="POST">
  <input type="hidden" name="filename" id="filename"/>

  <input type="button" onclick= "get_config_name('filename', 'save_current')" id="submit_form" value="Save"/>
</form>

<h5>Upload a calibration</h5>
<form id="upload" action="./configs/upload" method="POST">
  <input type="file" name="file" id="file" onchange="checkFileSize(this)"/>
  <br/>
  <input type="button" onclick="get_config_name('ul_filename', 'upload')" id="upload_form" value="Upload" disabled />
</form>

<script type="text/javascript">

window.checkFileSize = function(input) {
  console.log(input.files[0].size)
  if (input.files && input.files[0] && input.files[0].size > 100*1024) {
    alert("This file is too large. Files must be < 100k");
    document.getElementById('upload_form').disabled = true;
  } else {
    document.getElementById('upload_form').disabled = false;
  }
}
window.get_config_name = function(filenameId, formId) {
  var name = window.prompt("Enter name for configuration");
  var input = document.getElementById(filenameId);
  input.value = name;
  document.getElementById(formId).submit();
}
</script>
