<link rel="stylesheet" type="text/css" href="config/config_details/config.css">

<h4>Oblong Configrations</h4>

<% if defined?(success) && !success.nil? %>
  <div class="success"><%= success -%></div>
<% end %>


<table width="50%">
  <% configs.each do |config| %>
    <tr>
      <td><%= config -%></td>
      <td><a class="activate" href="./configs/activate/<%= config -%>">Activate</a></td>
      <td><a class="dl" href="./configs/download/<%= config -%>">Download</a></td>
      <td><a class="delete" href="./configs/delete/<%=config -%>">Delete</a></td>
    </tr>
  <% end %>
</table>

<h5>Save Current Calibration</h5>
<form id="save_current" action="./configs/save_as_active" method="POST">
  <label for="filename">Configuation Name</label>
  <input type="text" name="filename" id="filename"/>
  <br/>
  <input type="submit" id="submit_form" value="Save"/>
</form>

<h5>Upload a calibration</h5>
<form id="upload" action="./configs/upload" method="POST">
  <label for="filename">Name for Configuration</label>
  <input type="text" name="filename" id="filename"/>
  <br/>
  <input type="file" name="file" id="file" />
  <br/>
  <input type="submit" id="upload_form" value="Upload" />
</form>

<script type="text/javascript">
  $(document).ready(function(){
    $('.activate').click(function() {

    });
    $('.delete').click(function() {

    });
    $('#save_form').click(function() {

    });
    $('#upload_form').click(function() {

    });
  });
</script>
