<link rel="stylesheet" type="text/css" href="config/config_details/config.css">

<h4>Oblong Configrations</h4>
<% if success.present? %>
  <div class="success"><%= success -%></div>
<% end %>

<% if error.present? %>
  <div class="error"><%= error -%></div>
<% end %>
<ul>
  <% configs.each do |config| %>
    <li>
      <%= config -%>
      <a class="activate" href="./activate/<%= config -%>">Activate</a>
      <a class="dl" href="./donwload/<%= config -%>">Download</a>
    </li>
  <% end %>
</ul>

<form id="upload" action="upload">
  <label for="file">File to Upload</label>
  <input type="file" name="file" id="file"/>
  <input type="submit" id="submit_form" />
</form>
