<link rel="stylesheet" type="text/css" href="certificate/certificate_details/certificate.css">

<form id="csr-form" action="<%= url "/update_certificate" %>" method="post">
  <h4>Oblong certificate signing request</h4>
  <p>Verify the information below, and proceed by clicking the "Update" button. Make sure the Common Name is correct.<br>
    Note that previous certificates will be replaced after this operation.
  </p>

  <% unless domain_component1.empty? %>
  <label>
    <span class="label">Domain Component 1</span>
    <input class="readonly" readonly type="text" name="domain_component1" size="36" value="<%= domain_component1 %>"/>
    <span class="error"></span>
  </label>
  <% end %>

  <% unless domain_component2.empty? %>
  <label>
    <span class="label">Domain Component 2</span>
    <input class="readonly" readonly type="text" name="domain_component2" size="36" value="<%= domain_component2 %>"/>
    <span class="error"></span>
  </label>
  <% end %>

  <label>
    <span class="label">Organization Name</span>
    <input class="readonly" readonly type="text" name="organization_name" size="36" value="<%= organization_name %>"/>
    <span class="error"></span>
  </label>

  <label>
    <span class="label">Organizational Unit Name</span>
    <input class="readonly" readonly type="text" name="organizational_unit_name" size="36" value="<%= organizational_unit_name %>"/>
    <span class="error"></span>
  </label>

  <label>
    <span class="label">Country Name</span>
    <input class="readonly" readonly type="text" name="country_name" size="36" value="<%= country_name %>"/>
    <span class="error"></span>
  </label>

  <label>
    <span class="label">State or Province Name</span>
    <input class="readonly" readonly type="text" name="sop_name" size="36" value="<%= sop_name %>"/>
    <span class="error"></span>
  </label>

  <label>
    <span class="label">Locality Name</span>
    <input class="readonly" readonly type="text" name="locality_name" size="36" value="<%= locality_name %>"/>
    <span class="error"></span>
  </label>

  <!-- Most fields here should be "uneditable". But just in case, the host name might change. -->

  <label>
    <span class="label">
    <% if host_name == common_name %>
      <b>Common Name</b>
    <% else %>
      Common Name
    <% end %>
    </span>
    <input type="text"          name="common_name" size="36" value="<%= common_name %>"/>
    <span class="error"></span>
  </label>

  <% if host_name == common_name %>
    <input type="hidden" name="host_name" value="<%= host_name %>"/>
  <% else %>
    <label>
      <span class="label">Subject Alternative Name</span>
      <input class="readonly" readonly type="text" name="host_name" size="36" value="<%= host_name %>"/>
      <span class="error"></span>
    </label>
  <% end %>

  <% ip_address.each { |ip| %>
    <input type="hidden" name="ip_address[]" value="<%= ip %>"/>
  <% } %>
  <% ip_address.each { |ip| %>
    <label>
      <span class="label">Subject Alternative Name</span>
      <input class="readonly" readonly type="text" size="36" value="<%= ip %>"/>
      <span class="error"></span>
    </label>
  <% } %>

  <label>
    <span class="label">Key Size</span>
    <input type="radio" name="key_size" value="4096" checked>4096
  </label>

  <div class="form-actions">
    <input type="submit" value="Update" class="ob-button" />
    <input type="button" value="Back" class="ob-button" onclick="window.location.href='<%= url "/certificate" %>'" />
  </div>

</form>
